.userName{
    font-size: 25px;
    color: rgb(0, 255, 76);

}
.navbar {
    position: absolute;
    top: 0;
  right: 0;
  left: 1;
   
  
  
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}